---
- name: Remove ebtables
  yum: name=ebtables state=absent

- name: Install dependences (~2GB)
  yum: name={{ item }} state=present
  with_items:
      - genisoimage
      - '{{ "rhevm-appliance" if ansible_distribution == "RedHat" else "ovirt-engine-appliance" }}'
      - glusterfs-fuse
      - ovirt-hosted-engine-setup
      - ebtables-2.0.10-13.el7.x86_64
  async: 7200
  poll: 5
  tags:
    - packages

- name: Stop and disable NetworkManager
  service:
      name: NetworkManager
      enabled: no
      state: stopped
  tags:
    - setup

- name: restart network service to pick up correct network scripts
  service:
    name: network
    enabled: yes
    state: restarted
  tags:
    - setup

- name: Create qemu group
  group:
      name: qemu
      state: present
      system: yes
  tags:
    - setup

- name: Create qemu user
  user:
      name: qemu
      group: qemu
      createhome: no
      system: yes
  tags:
    - setup


- name: Find the path to the appliance image
  shell: find /usr/share/ovirt-engine-appliance -name '*-appliance-*.ova'
  register: engine_appliance
  tags:
    - setup

- name: get the provisioning nic for the machine
  shell: |
    ip addr | grep -Pzo '^[0-9]+:(.*):.*\n.*{{ mac_address }}.*' | sed -r -n 's/[0-9]+: (.*):.*/\1/p' | head -n1
  register: provisioning_interface
  tags:
    - setup

- name: Copy authorised ssh keys from the hypervisor
  command: cat ~/.ssh/authorized_keys
  register: hypervisor_authorized_keys
  when: '{{ ssh_authorized_key == None }}'
- name: Set authorized ssh key if not provided
  set_fact: ssh_authorized_key={{ hypervisor_authorized_keys.stdout }}
  when: '{{ ssh_authorized_key == None }}'

- name: create config directory
  file:
      path: '{{ config_dir }}'
      state: directory
      mode: 0700
      owner: qemu
      group: qemu
  tags:
    - setup

- name: Get the answer file over there
  template:
      src: answers.j2
      dest: '{{ config_dir }}/answers'
      mode: 0600
  tags:
    - setup

- name: Create cloud init temp directory
  file:
      path: '{{ config_dir }}/cloud_init'
      state: directory
      mode: 0700
      owner: qemu
      group: qemu
  tags:
    - setup

- name: Copy over the cloud init data
  template:
      src: '{{ item.src }}'
      dest: '{{ item.dest }}'
      owner: qemu
      group: qemu
      mode: 0600
  with_items:
    - { src: user-data.j2, dest: '{{ config_dir }}/cloud_init/user-data' }
    - { src: meta-data.j2, dest: '{{ config_dir }}/cloud_init/meta-data' }
  tags:
    - setup

- name: Generate cloud-init iso
  shell: |
    genisoimage -output '{{ config_dir }}/cloud_init/cloud.iso' -volid cidata -joliet -rock -input-charset utf-8  '{{ config_dir }}/cloud_init/meta-data' '{{ config_dir }}/cloud_init/user-data'
  tags:
    - setup

- name: Fix permissions on iso
  file:
      name: '{{ config_dir }}/cloud_init/cloud.iso'
      group: qemu
      owner: qemu
      state: file
      mode: 0600
  tags:
    - setup

- name: check if the setup has already run
  command: systemctl status ovirt-ha-agent
  register: installed
  changed_when: false
  failed_when: false
  ignore_errors: yes

- name: Execute hosted-engine setup
  shell: |
    hosted-engine --deploy --config-append={{ config_dir }}/answers
  async: 12000
  poll: 5
  when: '{{ installed.rc > 0 }}'
  tags:
    - install
