#cloud-config
# vim: syntax=yaml

disable_root: false
ssh_pwauth: true

chpasswd:
  list: |
    root:{{ root_password }}
  expire: False

write_files:
 - content: |
     [environment:init]
     DIALOG/autoAcceptDefault=bool:True
     # action=setup
     [environment:default]
     OVESETUP_CONFIG/updateFirewall=bool:True
     OVESETUP_CONFIG/sanWipeAfterDelete=bool:False
     OVESETUP_DIALOG/confirmSettings=bool:True
     OVESETUP_CONFIG/remoteEngineSetupStyle=none:None
     OVESETUP_CORE/engineStop=bool:True
     OVESETUP_DB/database=str:engine
     OVESETUP_DB/fixDbViolations=none:None
     OVESETUP_DB/secured=bool:False
     OVESETUP_DB/host=str:{{ engine_db_host }}
     OVESETUP_DB/user=str:{{ engine_db_user }}
     OVESETUP_DB/securedHostValidation=bool:False
     OVESETUP_DB/password=str:{{ engine_db_password }}
     OVESETUP_DB/port=int:{{ engine_db_port }}
     # Not safe to do in self-hosted scenario
     OVESETUP_SYSTEM/nfsConfigEnabled=bool:False
     OVESETUP_PKI/organization=str:{{ engine_organization }}
     OVESETUP_CONFIG/adminPassword=str:{{ engine_admin_password }}
     OVESETUP_CONFIG/applicationMode=str:{{ engine_application_mode }}
     # OVESETUP_CONFIG/firewallManager=str:iptables
     OVESETUP_CONFIG/firewallChangesReview=bool:False
     VESETUP_CONFIG/updateFirewall=bool:True
     OVESETUP_CONFIG/websocketProxyConfig=none:None
     OVESETUP_CONFIG/fqdn=str:{{ engine_fqdn }}
     OVESETUP_CONFIG/storageType=str:{{ engine_storage_type }}
     # OVESETUP_PROVISIONING/postgresProvisioningEnabled=bool:True
     # OVESETUP_APACHE/configureRootRedirection=bool:True
     # OVESETUP_APACHE/configureSsl=bool:True
     OSETUP_RPMDISTRO/requireRollback=none:None
     OSETUP_RPMDISTRO/enableUpgrade=none:None
     OVESETUP_ENGINE_CORE/enable=bool:True
     OVESETUP_SYSTEM/memCheckEnabled=bool:False
     OVESETUP_CONFIG/websocketProxyConfig=bool:True
     OVESETUP_CONFIG/storageIsLocal=bool:False
     OVESETUP_CONFIG/imageioProxyConfig=bool:False
     OVESETUP_SYSTEM/memCheckEnabled=bool:False
     OVESETUP_CONFIG/updateFirewall=bool:True
     OVESETUP_VMCONSOLE_PROXY_CONFIG/vmconsoleProxyConfig=bool:True
     OVESETUP_RHEVM_SUPPORT/configureRedhatSupportPlugin=bool:False
     OVESETUP_RHEVM_SUPPORT/redhatSupportProxyEnabled=bool:False

     OVESETUP_DWH_CORE/enable=bool:True
     OVESETUP_DWH_CONFIG/scale=str:1
     OVESETUP_DWH_DB/fixDbViolations=none:None
     OVESETUP_DWH_DB/database=str:ovirt_engine_history
     OVESETUP_DWH_DB/secured=bool:False
     OVESETUP_DWH_DB/host=str:{{ engine_db_host }}
     OVESETUP_DWH_DB/disconnectExistingDwh=none:None
     OVESETUP_DWH_DB/restoreBackupLate=bool:True
     OVESETUP_DWH_DB/user=str:ovirt_engine_history
     OVESETUP_DWH_DB/securedHostValidation=bool:False
     OVESETUP_DWH_DB/performBackup=none:None
     OVESETUP_DWH_DB/password=str:{{ engine_db_password }}
     OVESETUP_DWH_DB/port=int:{{ engine_db_port }}
     OVESETUP_DWH_PROVISIONING/postgresProvisioningEnabled=bool:True

     OVESETUP_REPORTS_CORE/enable=bool:True
     OVESETUP_REPORTS_CONFIG/heapMin=str:1024M
     OVESETUP_REPORTS_CONFIG/adminPassword=str:{{ engine_admin_password }}
     OVESETUP_REPORTS_CONFIG/heapMax=str:1024M
     OVESETUP_REPORTS_DB/fixDbViolations=none:None
     OVESETUP_REPORTS_DB/database=str:ovirt_engine_reports
     OVESETUP_REPORTS_DB/secured=bool:False
     OVESETUP_REPORTS_DB/host=str:{{ engine_db_host }}
     OVESETUP_REPORTS_DB/user=str:ovirt_engine_reports
     OVESETUP_REPORTS_DB/securedHostValidation=bool:False
     OVESETUP_REPORTS_DB/password=str:{{ engine_db_password }}
     OVESETUP_REPORTS_DB/port=int:{{ engine_db_port }}
     OVESETUP_REPORTS_PROVISIONING/postgresProvisioningEnabled=bool:True
   path: /root/answers
   owner: root:root
   permissions: '0640'
 - content: |
     if  ! grep -q "^PermitRootLogin yes" /etc/ssh/sshd_config ; then
       sed -i -e '/^PermitRootLogin/s/^.*$/PermitRootLogin yes/' /etc/ssh/sshd_config
       /sbin/service sshd restart
     fi

     if ! grep -q "^PasswordAuthentication yes" /etc/ssh/sshd_config ; then
       sed -i -e '/^PasswordAuthentication/s/^.*$/PasswordAuthentication yes/' /etc/ssh/sshd_config
       /sbin/service sshd restart
     fi
   path: /root/fix_ssh.sh
   permissions: '0755'


runcmd:
 - echo "Enabling ssh access" 1>/dev/virtio-ports/org.ovirt.hosted-engine-setup.0 2>&1
 - bash -e /root/fix_ssh.sh 1>/dev/virtio-ports/org.ovirt.hosted-engine-setup.0 2>&1
 - sed -i -e '$aAllowUsers root'
 - rpm -ivh http://{{ satellite_fqdn }}/pub/katello-ca-consumer-latest.noarch.rpm 1>/dev/virtio-ports/org.ovirt.hosted-engine-setup.0 2>&1
 - echo "Registering the System" 1>/dev/virtio-ports/org.ovirt.hosted-engine-setup.0 2>&1
 - subscription-manager register --org="Default_Organization" --name="{{ engine_fqdn }}" --activationkey="{{ engine_activation_key }}" 1>/dev/virtio-ports/org.ovirt.hosted-engine-setup.0 2>&1
 - echo "Running engine setup" 1>/dev/virtio-ports/org.ovirt.hosted-engine-setup.0 2>&1
 - /usr/bin/engine-setup --offline --config-append=/root/answers 1>/dev/virtio-ports/org.ovirt.hosted-engine-setup.0 2>&1
 - if [ $? -eq 0 ]; then echo "HE_APPLIANCE_ENGINE_SETUP_SUCCESS" >/dev/virtio-ports/org.ovirt.hosted-engine-setup.0; else echo "HE_APPLIANCE_ENGINE_SETUP_FAIL" >/dev/virtio-ports/org.ovirt.hosted-engine-setup.0; fi
 - systemctl mask cloud-init-local ||  chkconfig cloud-init-local off
 - systemctl mask cloud-init || ( chkconfig cloud-init off && chkconfig cloud-config off && chkconfig cloud-final off )
 - echo "Installing Python Enum Package"
 - yum -y install python-enum34
 - echo "Configuration complete"
